* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
}
.product-container {
  width: 850px;
  margin: auto;
}
/* ===========================Header-start================== */
.App {
  text-align: center;
}
.mycontainer {
  width: 1400px;
  margin: auto;
}
.nav-icon {
  width: 200px;
}
.bg-img {
  width: 100%;
  height: 100%;
}
/* .bg-img img {
  opacity: 0.5;
} */
.Carousel {
  opacity: 0.9 !important;
}
.all-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.all-icon-bg:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 139, 139, 0.166);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: 200ms;
}
.bg-body-tertiary {
  padding: 20px 0px;
}
.mynavtabs a {
  color: #000000;
  text-decoration: none;
  /* font: 20px Raleway; */
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  font-weight: 500;
}
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #000000;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .toggle {
    /* width: 10%; */
    margin: auto;
  }
}
@media screen and (max-width: 993px) and (min-width: 0px) {
  .mynavtabs {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) and (min-width: 0px) {
  .nav-icon {
    display: none !important;
  }
}

/* ===========================Header-end================== */
/* ===========================sec-1-start================== */

.owl-dot {
  display: none !important;
}
.owl-next {
  background-color: rgba(8, 8, 8, 0.225) !important;
  width: 50px;
  height: 50px;
  border-radius: 30px !important;
  position: absolute;
  top: 40%;
  right: 5%;
}
.owl-prev {
  background-color: rgba(2, 2, 2, 0.288) !important;
  width: 50px;
  height: 50px;
  border-radius: 30px !important;
  position: absolute;
  top: 40%;
  left: 5%;
}
.main-Carousel img {
  position: relative;
}
.Carousel-fonts {
  position: absolute;
  top: 30%;
  left: 30%;
  /* padding: 200px 450px; */
  color: aliceblue;
}
.Carousel-fonts h1 {
  font-size: 65px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  text-align: center;
}
.Carousel-fonts .Carousel-btn button a {
  text-decoration: none;
  color: #ffffff;
}
.Carousel-fonts .Carousel-btn button {
  border: 2px solid white;
  background-color: #ffffff00;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
.Carousel-fonts .Carousel-btn button:hover {
  background-color: #0a5d5d;
  transition: 0.3s;
}
.Carousel-fonts p {
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .Carousel-fonts h1 {
    font-size: 50px;
  }
  .Carousel-fonts {
    /* padding: 200px 500px; */
    top: 30%;
    left: 33%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .Carousel-fonts h1 {
    font-size: 50px;
  }
  .Carousel-fonts {
    /* padding: 200px 500px; */
    top: 30%;
    left: 27%;
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  .Carousel-fonts h1 {
    font-size: 40px;
  }
  .Carousel-fonts p {
    font-size: 13px;
  }
  .Carousel-fonts {
    /* padding: 200px 500px; */
    top: 30%;
    left: 29%;
  }
  .Carousel-fonts .Carousel-btn button {
    padding: 5px 10px;
    font-size: 14px;
  }
  .Carousel-btn button {
    padding-top: 0%;
  }
}
@media screen and (max-width: 425px) and (min-width: 375px) {
  .Carousel-fonts h1 {
    font-size: 20px;
  }
  .Carousel-fonts p {
    font-size: 5px;
  }
  .Carousel-fonts {
    /* padding: 200px 500px; */
    top: 30%;
    left: 27%;
  }
  .Carousel-fonts .Carousel-btn button {
    padding: 5px 10px;
    font-size: 7px;
  }
  .Carousel-btn {
    padding-top: 0%;
  }
}
@media screen and (max-width: 375px) and (min-width: 320px) {
  .Carousel-fonts h1 {
    font-size: 20px;
  }
  .Carousel-fonts p {
    font-size: 5px;
  }
  .Carousel-fonts {
    /* padding: 200px 500px; */
    top: 30%;
    left: 24%;
  }
  .Carousel-fonts .Carousel-btn button {
    padding: 5px 10px;
    font-size: 7px;
  }
  .Carousel-btn {
    padding-top: 0%;
  }
}

/* ===========================sec-1-end================== */
/* ========================sec-2-start================== */
.section2-bg {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* padding: 100px 0px; */
}
.main-three-box {
  padding: 20px 0px 100px 0px;
}
.three-box {
  width: 411px;
  /* height: 223px; */
  position: relative;
  overflow: hidden !important;
  /* margin: 20px 0px 100px 0px; */
}
.three-box img {
  width: 411px;
  height: 223px;
  transition: transform 1.5s;
}
.three-box img:hover {
  transform: scale(1.1);
  transition: 2s;
  cursor: pointer;
  z-index: 11;
}
.three-box-contain {
  position: absolute;
  z-index: 111;
  top: 20%;
  left: 10%;
}
.three-box-contain h1 {
  font-size: 40px;
  font-weight: 600;
}
.three-box-contain p {
  font-size: 16px;
  /* color: #000000; */
  opacity: 0.4;
  margin-bottom: 15%;
}
.three-box-contain a {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}
.color a:hover {
  background-color: #aa8453;
  color: white !important;
}
.color a {
  background-color: white;
}
.three-box-contain a:hover {
  background-color: #0a5d5d;
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .main-three-box {
    display: flex;
    justify-content: space-evenly;
  }
  .three-box img {
    width: 400px;
    height: 223px;
  }
  .three-box-contain {
    /* position: absolute; */
    left: 5%;
  }
  .three-box-contain a {
    font-size: 16px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .three-box img {
    width: 551px;
    height: 223px;
  }
  .three-box-contain h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .last-box {
    margin-top: 20px;
  }
  .first-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .second-box {
    display: flex;
    justify-content: center !important;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  .second-box {
    display: flex;
    justify-content: center !important;
    margin-top: 20px;
  }
  .last-box {
    margin-top: 20px;
  }
}
@media screen and (max-width: 425px) and (min-width: 375px) {
  .three-box img {
    width: 300px;
    height: 200px;
  }
  .three-box-contain h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .three-box-contain p {
    font-size: 10px;
    /* color: #000000; */
  }
  .last-box {
    margin-top: 20px;
  }
  .first-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .second-box {
    display: flex;
    justify-content: center !important;
  }
  .three-box-contain a {
    font-size: 10px;
    padding: 10px 15px;
  }
  .three-box-contain {
    /* position: absolute; */
    left: 10%;
  }
}
@media screen and (max-width: 375px) and (min-width: 320px) {
  .three-box img {
    width: 251px;
    height: 170px;
  }
  .three-box-contain h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .three-box-contain p {
    font-size: 10px;
    /* color: #000000; */
  }
  .last-box {
    margin-top: 20px;
  }
  .first-box {
    display: flex;
    justify-content: center;
  }
  .second-box {
    display: flex;
    justify-content: center !important;
    margin-top: 20px;
  }
  .three-box-contain a {
    font-size: 10px;
    padding: 10px 15px;
  }
  .three-box-contain {
    /* position: absolute; */
    left: 10%;
  }
}
.main-four-boxes {
  margin: 20px 0px 100px;
}
.sec2-box-one {
  width: 301px;
  height: 154px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 30px 10px;
}
.sec2-box-one p {
  width: 280px;
  font-size: 14px;
  opacity: 0.7;
  margin-top: 20px;
}
.extra-shipping img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  transition: transform 0.5s;
}
.sec2-box-one:hover img {
  transform: scale(1.2);
  /* transition: 0.5s; */
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .four-box-margin {
    margin: 20px 0px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .four-box-margin {
    margin: 20px 0px;
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  .four-box-margin {
    margin: 20px 0px;
  }
}
@media screen and (max-width: 425px) and (min-width: 375px) {
  .four-box-margin {
    margin: 20px 0px;
  }
}
@media screen and (max-width: 375px) and (min-width: 320px) {
  .four-box-margin {
    margin: 20px 0px;
  }
}
/* ========================sec-2-end================== */
/* =========================sec3-start==================== */
.section-3 {
  width: 100%;
  height: 100%;
}
.section3-OwlCarousel img {
  width: 412px;
  transition: transform 2s;
}
.section3-OwlCarousel:hover img {
  transform: scale(1.1);
}
.section3-OwlCarousel {
  overflow: hidden;
  width: 415px;
}
.section-3-heading {
  margin: 20px 0px 80px 0px;
}
.section-3-heading h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 400;
}
.section3-products {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.outer-image {
  position: relative;
  width: 191px;
  height: 347px;
  margin-bottom: 40px;
  word-wrap: break-word;
}
.outer-image img {
  width: 191px;
  height: 236px;
}
.inner-image {
  position: absolute;
  top: 0%;
  width: 191px;
  height: 236px;
  opacity: 0;
  transition: 0.5s;
}
.outer-image:hover .inner-image {
  opacity: 1;
  cursor: pointer;
}
.section3-products-fonts span {
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  margin: auto;
}
.section3-products-fonts h3 {
  margin: 20px 0px 10px 0px;
  text-transform: capitalize;
  font-size: 16px;
  width: 190px;
  opacity: 0.8;
  font-weight: 400;
}
.section3-products-fonts {
  text-align: center;
  width: 191px;
  position: relative;
}
.hovereffect-icons {
  position: absolute;
  z-index: 111;
  top: 0%;
  right: 5%;
  opacity: 0;
}
.outer-image:hover .hovereffect-icons {
  opacity: 1;
  transition: 0.5s;
}
.outer-image:hover .star-reting {
  display: none;
  transition: 1s;
}
.outer-image:hover .section3-products-fonts > span {
  display: none;
  transition: 1s;
}
.outer-image:hover .QuickAdd {
  visibility: visible;
  transition: 1s;
  top: 140%;
}
.mainthree-icon {
  margin: 10px 0px;
}
.mainthree-icon {
  background-color: #ffffff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #0a5d5d;
  transition: 0.3s;
}
.mainthree-icon:hover {
  background-color: #0a5d5d;
  color: #ffffff;
  transition: 0.3s;
}
.star-reting {
  font-size: 20px;
  text-align: center;
  color: rgb(222, 222, 10);
  transition: 1s;
}
.QuickAdd {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 16%;
  visibility: hidden;
  /* transition: 1s; */
}
.QuickAdd a {
  text-decoration: none;
  color: #0a5d5d;
  width: 150px;
  border: 1px solid #0a5d5d;
  border-radius: 3px;
  padding: 10px 30px;
  transition: 0.5s;
}
.QuickAdd a:hover {
  background-color: #0a5d5d;
  color: #ffffff;
  transition: 0.5s;
}

/* =========================sec3-end==================== */
.products-fonts h3 {
  font-size: 20px;
  margin: 15px 0px;
}
.product-price .first-span {
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}
.product-price .second-span {
  font-size: 15px;
  opacity: 0.7;
}
.products-fonts p {
  font-size: 15px;
  margin: 15px 0px;
}
.change-card {
  padding: 7px 15px;
  border: none;
  border: 1px solid #0a5d5d;
  background-color: #ffffff;
  text-transform: uppercase;
  transition: 0.3s;
}
.change-card:hover {
  background-color: #0a5d5d;
  color: #ffffff;
  transition: 0.3s;
}
.header-product-bg {
  background-color: rgba(128, 128, 128, 0.144);
  width: 100%;
  height: 100%;
  padding: 50px 0px;
}
.content {
  margin-top: 50px;
}
.outer-image1 {
  position: relative;
  margin-bottom: 40px;
}
.outer-image1 img {
  width: 500px;
  height: 500px;
}
.inner-image1 {
  position: absolute;
  top: 0%;
  width: 191px;
  height: 236px;
  opacity: 0;
  transition: 0.5s;
}
.outer-image1:hover .inner-image1 {
  opacity: 1;
  cursor: pointer;
}

.hovereffect-icons {
  position: absolute;
  z-index: 111;
  top: 0%;
  right: 5%;
  opacity: 0;
}
.outer-image1:hover .hovereffect-icons {
  opacity: 1;
  transition: 0.5s;
}
.outer-image1:hover .star-reting {
  display: none;
  transition: 1s;
}
.outer-image1:hover .section3-products-fonts > span {
  display: none;
  transition: 1s;
}
.outer-image1:hover .QuickAdd {
  visibility: visible;
  transition: 1s;
  top: 140%;
}
.mainthree-icon {
  margin: 10px 0px;
}
.mainthree-icon {
  background-color: #ffffff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #0a5d5d;
  transition: 0.3s;
}
.mainthree-icon:hover {
  background-color: #0a5d5d;
  color: #ffffff;
  transition: 0.3s;
}
.product-margin {
  margin-top: 50px;
}
.products-fonts1 {
  margin: 30px 30px;
  width: 300px;
}
.products-fonts1 h1 {
  margin: 20px 0px;
}
.first-span {
  font-size: 25px !important;
  font-weight: 400 !important;
}
.star-reting1 {
  font-size: 30px;
  text-align: center;
  color: rgb(222, 222, 10);
  transition: 1s;
  margin: 20px 0px;
}
.addtocart {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
}
.addtocart a {
  color: #ffffff !important;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.addtocart:hover {
  background-color: transparent;
  transition: 0.3s;
  color: #000000 !important;
  /* border: 2px solid black; */
}
.addtocart:hover a {
  transition: 0.3s;
  color: #000000 !important;
}
.product-descri {
  word-wrap: break-word !important;
}
.login-header {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 30px;
}
.login-header h1 {
  font-weight: 600;
  letter-spacing: 2px;
}
.loginicon {
  font-size: 12px;
  font-weight: 400;
}
.home-acc h6 {
  margin-top: 10px;
  margin: 0px 10px;
}
.inputs {
  border: 2px solid rgba(0, 0, 0, 0.374);
}
.fauserlogin {
  color: #000000;
}
.diamond-Halo {
  width: 600px;
  height: 100%;
  border: 2px solid rgb(35, 212, 35);
  color: green;
  border-radius: 5px;
}
.diamond-Halo p b {
  font-size: 12px;
}
.diamond-Halo p {
  font-size: 14px;
  margin-top: 13px;
}
.sugetion-of-products {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.142); */
  border-radius: 5px;
  text-align: start;
  padding: 15px 0px;
  /* margin-left: 10px; */
}
.sign-in-card {
  width: 500px;
  height: 100%;
  margin-top: 50px;
  position: relative;
}
.signin h2 {
  font-size: 24px;
  font-weight: 800;
}
.inputBox h5 {
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0px;
}
.inputBox input {
  width: 500px;
  height: 100%;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.155);
  border-radius: 4px;
  font-size: 12px;
}
.button-26 {
  width: 500px;
  height: 100%;
  background-color: #0a5d5d;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  border: none;
  border-radius: 4px;
}
.button-26:hover {
  background-color: #082e21;
  transition: 0.5s;
}
.password-eyes {
  position: absolute;
  top: 55%;
  right: 3%;
  color: rgba(0, 0, 0, 0.434);
}
.outsider {
  position: relative;
  width: 168px;
  height: 100%;
  transition: 0.5s;
}
.outsider img {
  width: 168px;
  height: 208px;
}
.insider img {
  width: 168px;
  height: 208px;
  transition: 0.5s;
  opacity: 0;
}
.outsider:hover .insider img {
  opacity: 1;
  transition: 0.5s;
}
.insider {
  position: absolute;
  width: 168px;
  top: 0%;
}
.outsider-contain h6 {
  font-size: 12px;
  font-weight: 600;
}
.outsider-contain span {
  font-size: 12px;
  font-weight: 600;
  color: #6b7280;
  margin-right: 10px;
}
.outsider-contain strike {
  font-size: 12px;
  font-weight: 600;
  color: #d5d5d5;
}
/* ===========================footer================ */
footer {
  padding: 150px 0px 0px 0px;
}
.footer-contact-contain {
  margin: 20px 0px;
}
.footer-contact-contain h6 {
  color: rgba(0, 0, 0, 0.306);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  margin-left: 25px;
}
.footer-contact-contain h6:hover {
  color: #0a5d5d;
  transition: 0.3s;
}
.footer-contain {
  margin: 20px 0px;
}
.footer-contain a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.306);
  transition: 0.3s;
  font-weight: 500;
}
.footer-contain a:hover {
  color: #0a5d5d;
  transition: 0.3s;
}
.input-group {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.input {
  min-height: 50px;
  max-width: 300px;
  padding: 0 2rem;
  color: #000000;
  font-size: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #0a5d5d;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #0a5d5d;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #0a5d5d;
}
.all-payment-site img {
  width: 55px;
  height: 30px;
  margin: 0px 10px;
}
/* ===========================/footer================ */
/* =================offcanvas===================== */
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--cui-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--cui-offcanvas-color);
  visibility: hidden;
  background-color: var(--cui-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  transition: var(--cui-offcanvas-transition);
}
.offcanvas.offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: var(--cui-offcanvas-height);
  height: 280px;
  border-bottom: var(--cui-offcanvas-border-width) solid var(--cui-offcanvas-border-color);
  transform: translateY(-100%);
}
/* ===================/offcanvas================= */
/* =======================searchbar======================== */
.search {
  flex: 0 0 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #333333;
  background-color: #f4f2f2;
  border: none;
  padding: 14px 72px 14px 42px;
  border-radius: 1000px;
  width: 94%;
  margin-left: -34px;
  margin-right: -66px;
  transition: all 0.2s;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  color: #999999;
}

.search__button {
  border: none;
  background-color: transparent;
  z-index: 999;
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 20px;
  width: 20px;
  fill: #999999;
}

.mic__button {
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}

.mic__button:focus {
  outline: none;
}

.mic__button:active {
  transform: translateY(2px);
}

.mic__icon {
  height: 28px;
  width: 20px;
  fill: #999999;
}

.mic__icon:hover {
  fill: #dd5e89;
}

.picture__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.picture__button:focus {
  outline: none;
}

.picture__button:active {
  transform: translateY(2px);
}

.picture__icon {
  height: 16px;
  width: 20px;
  fill: #999999;
}

.picture__icon:hover {
  fill: #dd5e89;
}
.offcanvas-title {
  font-weight: 700;
  font-size: 20px !important;
  /* line-height: var(--cui-offcanvas-title-line-height); */
}
.hot-searches-contain {
  margin: 20px 20px 20px 40px;
}
.hot-searches-btn a {
  color: #000000;
  text-decoration: none;
  background-color: #0a5d5d;
  width: 50px;
  height: 40px;
  margin: 20px 20px 0px 0px;
  color: #d5d5d5;
  padding: 10px 20px;
  font-weight: 600;
  transition: 0.3s;
  border-radius: 10px;
}
.hot-searches-btn a:hover{
  background-color: #082E21;
  transition: 0.3s;
}
/* =======================/searchbar======================== */
